body 

{
    background-color: #af6b6b;
}

.text-container {
    background-color: rgb(202, 97, 97); 
    border: 1px solid #ccc; 
}

.text-container p {
   
    color: #333; 
}
.custom-table {
    width: 80%; 
    border-collapse: collapse;
    }

    .custom-heading {
        font-size: 36px; 
        color: #2e4a7e; 
        text-align: center; 
        font-family: 'Arial', sans-serif; 
        text-transform: uppercase; 
        letter-spacing: 2px; 
        margin: 20px; 
        padding: 10px; 
        border: 2px solid #1e3cbe; 
        border-radius: 5px; 
        background-color: #f3b735; 
    }
    .change {
        font-size: 25px;
    }
.custom-table th, 
.custom-table td {
    border: 1px solid #ccc; 
    padding: 15px; 
    text-align: left; 
    font-weight: bolder;
    color: gold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-table th {
    background-color: #285b7c; 
    color: white; 
}
.text-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
   }
